<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppModel - Familiares</title>
</head>
<body>
    <h1>Lista de mis familiares</h1>

    <table>
        <tr>
            <td bgcolor="yellow">Id</td>
            <td bgcolor="yellow">Nombre</td>
            <td bgcolor="yellow">Dirección</td>
            <td bgcolor="yellow">Pasaporte</td>
            <td bgcolor="yellow">Fecha de nacimiento</td>
        </tr>
        
    {% for familiar in lista_familiares %}
        <tr>
            <td>  {{familiar.id}}</td>
            <td>  {{familiar.nombres}}</td>
            <td>  {{familiar.direccion}}</td>
            <td>  {{familiar.numero_pasaporte}}</td>
            <td align="center">  {{familiar.nacimiento}}</td>
        </tr>
    {% endfor %}
        
    </table>
</body>
</html>